body{
    background-color: #faf7f6;
    font-family: "Poppins", sans-serif;
    margin: 0;
    height: 800px;
    display: grid;
    place-items: center;
}

.contenedor{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 8px;
    width: 20%;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}